{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What do I know?</h5>
                    <p class="card-text">
                        <ol>
                            <l>What I know: Java, a bit of python, a bit of Javascript, a tiny bit of html</l>
                            <l>I need to learn more about HTML and Java to get better </l>
                            <l>I also have some experience with the early stages of app developement</l>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go nowhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/chess.png') }}" alt="Chess board">
                    <div class="card-body">
                    <h5 class="card-title">What is my website gonna be?</h5>
                    <p class="card-text">
                        <ol>
                            <l>The steps I plan to take with my group project are:</l>
                            <li>Choose a topic with my group, we have already chosen Chess</li>
                            <li>Create a wireframe of what my website will look like</li>
                            <li>Brainstorm what data we're gonna need and use</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go nowhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How do you manage <mark>Persistent data</mark> with Python?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A Database is an example of persistent data that is held on a computer.  Programming languages and frameworks allow you to store and retrive data.</li>
                            <li>SQL stands for Structured Query Language · SQL lets you access and manipulate databases and has become a long lasting development standard.</li>
                            <li>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper (ORM) that gives application developers the full power and flexibility of SQL.</li>
                            <li>There are many newer and sometimes easier Database languages and frameworks.  Mongo, DynamoDB, Neo4J are Databases being used by students developers in last 3 years.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go nowhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}